/* Adding vars for colors */

.main_container__action_panel {
  grid-area: Actions-Panel;
  display: flex;
  justify-content: center;
  gap: 1.4rem;
}

.main_container__action_panel > button {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-top: 0;
  background-color: #2d8fe4;
  border: 1px solid rgb(0, 0, 0);
  color: white;
}

.main_container__action_panel > button:hover,
.main_container__action_panel > button:active {
  background-color: white;
  color: #2d8fe4;
  border-color: #2d8fe4;
}
