.main_container {
  display: grid;
  height: 100%;

  grid-template-columns: [col-start] 100% [col-end];
  grid-template-rows: [row-1-start] 3fr [row-1-end row-2-start] 1fr [row-2-end];
  grid-template-areas:
    "Color-Box"
    "Actions-Panel";
  grid-gap: 5rem;
  margin: auto;

  /* justify-content: center; */
}
